In [2]:
import pandas as pd
df =pd.read_csv('화재발생+현황_20230308132332.csv')#

In [3]:
print(df.shape)
# df

(28, 18)

In [5]:
df.head(10)

,동별(1),동별(2),2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11,2021.12,2021.13,2021.14,2021.15
0,동별(1),동별(2),발생 (건),발생 (건),발생 (건),발생 (건),소실,소실,소실,피해액 (천원),피해액 (천원),피해액 (천원),재산피해경감액 (천원),인명피해 (명),인명피해 (명),인명피해 (명),이재민수 (명),구조인원 (명)
1,동별(1),동별(2),소계,실화,방화,기타,동수 (동수),이재가구수 (가구),면적 (m²),소계,부동산,동산,소계,소계,사망,부상,소계,소계
2,합계,소계,4951,4399,87,465,468,282,21723,18268346,6872172,11396174,336039670,317,37,280,597,383
3,합계,종로구,192,169,1,22,-,1,390,465499,169588,295911,21075683,12,-,12,3,3
4,합계,중구,171,136,3,32,47,6,1350,2780374,686265,2094109,19184807,16,-,16,8,13
5,합계,용산구,176,160,1,15,6,40,422,296793,123439,173354,3767112,5,-,5,56,5
6,합계,성동구,191,163,2,26,14,9,720,458412,156128,302284,10949317,5,-,5,13,11
7,합계,광진구,205,187,3,15,33,6,554,889681,184833,704848,5924256,12,2,10,15,7
8,합계,동대문구,155,131,4,20,9,12,846,1209541,281555,927986,5638290,18,3,15,26,70
9,합계,중랑구,213,191,4,18,4,7,604,345257,168024,177233,30283582,13,1,12,3,4

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   동별(1)    28 non-null     object
 1   동별(2)    28 non-null     object
 2   2021     28 non-null     object
 3   2021.1   28 non-null     object
 4   2021.2   28 non-null     object
 5   2021.3   28 non-null     object
 6   2021.4   28 non-null     object
 7   2021.5   28 non-null     object
 8   2021.6   28 non-null     object
 9   2021.7   28 non-null     object
 10  2021.8   28 non-null     object
 11  2021.9   28 non-null     object
 12  2021.10  28 non-null     object
 13  2021.11  28 non-null     object
 14  2021.12  28 non-null     object
 15  2021.13  28 non-null     object
 16  2021.14  28 non-null     object
 17  2021.15  28 non-null     object
dtypes: object(18)
memory usage: 4.1+ KB

In [10]:
null_count=df.isnull().sum()

In [11]:
df_null_count = null_count.reset_index()
df_null_count.head()

    index  0
0   동별(1)  0
1   동별(2)  0
2    2021  0
3  2021.1  0
4  2021.2  0

In [13]:
#열과 행 바꾸기
df_transposed = df.transpose()
df_transposed.to_csv('fire_transposed.csv')

In [14]:
ls

SIDO_MAP_2022.json
fire.ipynb
fire_transposed.csv
rain.ipynb
shelter.ipynb
서울시 이재민임시주거시설.csv
서울시_강우량_정보_2022년07월.csv
서울시_강우량_정보_2022년08월.csv
서울시_강우량_정보_2022년09월.csv
화재발생+현황_20230308132332.csv

In [17]:
df2 =pd.read_csv('fire_transposed.csv')#
df2.shape

(18, 29)

In [18]:
df.head()

,동별(1),동별(2),2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11,2021.12,2021.13,2021.14,2021.15
0,동별(1),동별(2),발생 (건),발생 (건),발생 (건),발생 (건),소실,소실,소실,피해액 (천원),피해액 (천원),피해액 (천원),재산피해경감액 (천원),인명피해 (명),인명피해 (명),인명피해 (명),이재민수 (명),구조인원 (명)
1,동별(1),동별(2),소계,실화,방화,기타,동수 (동수),이재가구수 (가구),면적 (m²),소계,부동산,동산,소계,소계,사망,부상,소계,소계
2,합계,소계,4951,4399,87,465,468,282,21723,18268346,6872172,11396174,336039670,317,37,280,597,383
3,합계,종로구,192,169,1,22,-,1,390,465499,169588,295911,21075683,12,-,12,3,3
4,합계,중구,171,136,3,32,47,6,1350,2780374,686265,2094109,19184807,16,-,16,8,13